<html>
 <head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <style>
   article, aside, details, figcaption, figure, footer,header,
   hgroup, menu, nav, section { display: block; }
   .Title{display: flex;align-items: center;justify-content: center;height: 100px;width: 100%;}
   h1{align-items: center;justify-content: center}
   a{color: blue;}
   .Links{display: flex;align-items: center;justify-content: center;height: 100px;width: 100%;flex-direction: column;}
   .Button{display: flex;width: 100%;align-items: center;justify-content: center;}
   .Form{margin: 10px;}
   .inputs{display: grid;grid-template-columns: 1fr 1fr;}
   .foto{
       margin-top: 50px;
       width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;}
  </style>
 </head>
 <body>
  <div class="Title">
      <h1>Id вашего аккаунта: <%if(session!=undefined){%>
        <h1><%=session%></h1>
        <%}else{%>
      <h1> Вы не аторизированны</h1>
      <%}%>
      </h1>
  </div>
  <div class="inputs">
      <div class="input">
            <div class="Form">
                <form method="post" action="/reg">
                <div class="form-group">
                    <label for="exampleInputEmail">Ваша почта</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ваша почта">
                </div>
                <div class="form-group">
                        <label for="exampleInputPassword">Ник</label>
                        <input name="name" class="form-control" id="exampleInputPassword1" placeholder="Ник">
                    </div>
                <div class="form-group">
                    <label for="exampleInputPassword">Пароль</label>
                    <input type="password" name="pass" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
                </div>
                <div class="Button">
                    <button class="btn btn-primary">Регистрация</button>
                </div>
                </form>
            </div>
      </div>
      <div class="input">
            <div class="Form">
                <form method="post" action="/avtor">
                <div class="form-group">
                    <label for="exampleInputEmail">Ваша почта</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ваша почта">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword">Пароль</label>
                    <input type="password" name="pass" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
                </div>
                <div class="Button">
                    <button type="submit" class="btn btn-primary">Авторизация</button>
                </div>
                </form>
            </div>
      </div>
      <div class="input">
            <div class="Form">
                <form method="post" action="/add">
                <div class="form-group">
                    <label for="exampleInputEmail">Название блока</label>
                    <input name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Название блока">
                </div>
                <div class="Button">
                    <button type="submit" class="btn btn-primary">Добавить блок</button>
                </div>
                </form>
            </div>
      </div>
      <div class="input">
            <div class="Form">
                <form method="post" action="/del">
                <div class="form-group">
                    <label for="exampleInputEmail">Название блока</label>
                    <input  name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Название блока">
                </div>
                <div class="Button">
                    <button type="submit" class="btn btn-primary">Удалить блок</button>
                </div>
                </form>
            </div>
      </div>            
  </div>
  <div class="Blogs">
        <div class="Title">
                <h1>Тут находятся ваши блоки: </h1>
            </div>
            <div class="All">
                <ul>
                     <% mass.forEach(function(item){ %>
                        <li><%=item.text%></li>
                    <%});%>
                </ul>
                   
            </div>
  </div>
 <div class="foto">
     <form action="/foto" method="post" id="sendform" enctype="multipart/form-data">
         <fieldset>
             <p>
                 <label>Название фото:</label>
                 <input name="name" value="" size="40"  />
             </p>
             <p>
                 <label>Ваше фото:</label>
                 <input name="file" value="1" size="40" type="file" />
             </p>

             <input value="Отправить" name="sendMail" type="submit" />
         </fieldset>
     </form>
 </div>
    
  
 </body>
</html>